<h1>Agregar Nuevo Empleado</h1>

<form action="/personal/create" method="POST">
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="text" name="puesto" placeholder="Puesto" required>
    <button type="submit">Guardar</button>
</form>

<a href="/personal">Volver a la lista de empleados</a> |
<a href="/">Ir a la página principal</a> |
<a href="javascript:history.back()">Volver atrás</a>
